messenger-ai-chatbot/owner-notifications.json
{
  "name": "Owner Notifications",
  "nodes": [
    {
      "parameters": {
        "chatId": "YOUR_TELEGRAM_CHAT_ID1",
        "text": "=📅 New booking!\n\nName: {{ $json['User Name'] }}\nService: {{ $json['Requested Service'] }}\nEmail: {{ $json['Contact_Email'] }}\nBooked at: {{ $json['Created_At'] }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -464,
        -288
      ],
      "id": "26f76bff-b919-4c19-bba6-2e7c8b1bc282",
      "name": "Send a text message for meeting booking",
      "webhookId": "6a7bb350-4c88-4126-8f60-f9bb458b6b90",
      "credentials": {
        "telegramApi": {
          "id": "LbzlhjkmOnUMcKo7",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "YOUR_SHEET_ID",
          "mode": "list",
          "cachedResultName": "The Lawn Archive database",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_SHEET_ID/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 863976769,
          "mode": "list",
          "cachedResultName": "Booking details",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_SHEET_ID/edit#gid=863976769"
        },
        "event": "rowAdded",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        -1008,
        -288
      ],
      "id": "c0691dfe-aa69-47c8-8f27-7b366b0e2abe",
      "name": "Google Sheets (Booking)",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "ECcogzh5W7UxPZAH",
          "name": "Google Sheets Trigger account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "YOUR_SHEET_ID",
          "mode": "list",
          "cachedResultName": "The Lawn Archive database",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_SHEET_ID/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1279852989,
          "mode": "list",
          "cachedResultName": "Order details",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_SHEET_ID/edit#gid=1279852989"
        },
        "event": "rowAdded",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        -1072,
        -464
      ],
      "id": "fbfb11db-ff1a-45c0-b58e-237ffb24cd62",
      "name": "Google Sheets Trigger (order)",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "ECcogzh5W7UxPZAH",
          "name": "Google Sheets Trigger account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "YOUR_TELEGRAM_CHAT_ID1",
        "text": "=🛍️ New order!\n\n\nName:{{ $json['User Name'] }}\nProduct: {{ $json['Product Name'] }}\nQuantity: {{ $json['Product Quantity'] }}\nPhone: {{ $json['Phone_Number'] }}\nAddress:{{ $json.Address }}\n",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -736,
        -464
      ],
      "id": "7b087277-55b8-4e66-af6b-e4f4f664635f",
      "name": "Send a text message (Order confirmation)",
      "webhookId": "6a7bb350-4c88-4126-8f60-f9bb458b6b90",
      "credentials": {
        "telegramApi": {
          "id": "LbzlhjkmOnUMcKo7",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "YOUR_SHEET_ID",
          "mode": "list",
          "cachedResultName": "The Lawn Archive database",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_SHEET_ID/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1331666212,
          "mode": "list",
          "cachedResultName": "Escalation Sheets",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_SHEET_ID/edit#gid=1331666212"
        },
        "event": "rowAdded",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        -1040,
        -112
      ],
      "id": "940a0ad5-c9bf-4488-8c62-22e92c98d105",
      "name": "Google Sheets (escalation)",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "ECcogzh5W7UxPZAH",
          "name": "Google Sheets Trigger account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "YOUR_TELEGRAM_CHAT_ID1",
        "text": "=⚠️ {{ $json.first_name }} {{ $json.last_name }} needs a human!\n\nMessage: {{ $('Google Sheets (escalation)').item.json['Customer Message'].replace(/</g, '&lt;').replace(/>/g, '&gt;') }}\nReason: {{ $('Google Sheets (escalation)').item.json['Reason'] }}\nTime: {{ $('Google Sheets (escalation)').item.json['Time'] }}\n\nOpen chat: https://business.facebook.com/latest/inbox/all?asset_id=YOUR_PAGE_ID&selected_item_id={{ $('Google Sheets (escalation)').item.json['Sender ID'] }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -624,
        -112
      ],
      "id": "83aec030-b4fb-4760-855a-03f1bbcf2f34",
      "name": "Send a text message",
      "webhookId": "29bc6621-f923-4299-b54c-92a6576b85bf",
      "credentials": {
        "telegramApi": {
          "id": "LbzlhjkmOnUMcKo7",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://graph.facebook.com/v25.0/{{ $json['Sender ID'] }}?fields=first_name,last_name",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -832,
        -112
      ],
      "id": "a33b9fd3-14ea-4452-954e-a2a95504674b",
      "name": "Get Customer Name",
      "credentials": {
        "httpQueryAuth": {
          "id": "IbZHEVXggel0gd9X",
          "name": "FB page token"
        }
      },
      "onError": "continueRegularOutput"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Sheets (Booking)": {
      "main": [
        [
          {
            "node": "Send a text message for meeting booking",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets Trigger (order)": {
      "main": [
        [
          {
            "node": "Send a text message (Order confirmation)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message for meeting booking": {
      "main": [
        []
      ]
    },
    "Google Sheets (escalation)": {
      "main": [
        [
          {
            "node": "Get Customer Name",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Customer Name": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "647186c0-e15b-4bc0-90b4-57ec1b2a186b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b17a698d2418e3d29074bfe03646c773e6b780d1ff851e026bcc2f589b000cbf"
  },
  "id": "u1JsqK7xgVborbYw",
  "tags": []
}
